
body {
  margin:0;
  font-family: 'Segoe UI', sans-serif;
  background:#0f172a;
  color:white;
}

.sidebar {
  width:250px;
  background:#111827;
  height:100vh;
  position:fixed;
  padding:20px;
}

.content {
  margin-left:260px;
  padding:30px;
}

.card {
  background:#1e293b;
  padding:20px;
  border-radius:12px;
  margin-bottom:20px;
}

button {
  padding:10px 20px;
  background:#22c55e;
  border:none;
  border-radius:8px;
  cursor:pointer;
  color:white;
}

input {
  padding:10px;
  width:100%;
  margin-bottom:10px;
  border-radius:6px;
  border:none;
}
